@charset "UTF-8";
body {
	margin: 10px;
}

h2{
	background: red;
}
h2#point{
	background : orange;
	cursor: crosshair;	
}
h2#point:hover{
	color: yellow;
	background: #ccc;
	font-size:20px;
}

img{
	width : 100px;
}

li>img{
	width : 30px;
}

li{
	cursor: progress;
}

#container{
	width : 700px;
	margin: 15px auto;
}