@charset "UTF-8";
table {
	width : 1000px;
	border : 1px thin black;
	border-collapse : collapse;
	text-align : center;
	margin: 20px;
	
}
header {
	width : 1000px;
	border : 1px solid skyblue;
	border-collapse : collapse;
	text-align : center;
	margin: 20px;
	background-color: #ebfeee;
	font-family : inherit;
	font-style: inherit;
	font-weight: bolder;
	font-size: 60px;
	
	
}

footer {
	width : 1000px;
	text-align : right;
	margin: 20px;
}

tr, td{
	border : 1px solid #000000;
	padding : 10px;
}